.entity-message .col-first,
.entity-message .col-last {
  float: left;
}
.entity-message .col-first {
  width: 60px;
  margin-right: -60px;
}
.entity-message .col-last {
  margin-left: 60px;
}
.entity-message .message-comment {
  margin-bottom: 15px;
}
.entity-message .message-comment .user-picture img {
  width: 32px;
  height: 32px;
}
.entity-message .message-comment .babble {
  background-color: #edeff4;
}
.entity-message .message-comment .babble .col-first {
  width: 40px;
  margin-right: -40px;
}
.entity-message .message-comment .babble .col-last {
  margin-left: 40px;
}
.entity-message .message-comment .babble .content {
  margin-top: 2px;
  padding: 5px;
}
.entity-message .message-comment .babble .content .time-ago {
  color: gray;
  margin-bottom: 5px;
}
.entity-message .message-comment .user-picture img {
  width: 32px;
  height: 32px;
}
.entity-message .message-comment .babble-comment-form {
  padding: 5px;
  margin-top: 2px;
  background-color: #edeff4;
}
.entity-message .message-comment .babble-comment-form .user-picture {
  float: left;
  width: 40px;
}
.entity-message .message-comment .form-actions {
  display: none;
}
.entity-message .message-comment .filter-wrapper {
  display: none;
}
